@inherits UmbracoViewPage<IPublishedContent>
@{

}

<footer>
    <div class="main">
        <div class="wrap wrap-large">
            <div class="left">
                <img src="~/img/logo-small-white.png" />
                <p>Natural ingredients powered by science.</p>
            </div>

            <div class="right">
                <div class="item">
                    <p>Quick links</p>

                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <p>Quick links</p>

                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <p>Contact us</p>
                    <p>Opening hours:<br />Monday to Friday <br />8:30am - 5:00pm<br /><br /><a href="#">07983174888</a><br /><a href="#">email@address.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="wrap wrap-large">
            <p>&copy; Sibelius Natural Products @DateTime.Now.ToString("yyyy") - Website design and development <a href="#">Novantu Limited</a></p>
        </div>
    </div>
</footer>