@inherits UmbracoViewPage<BlockGridItem<RichTextBlock>>

<section class="rich-text padded-small">
    <div class="wrap wrap-medium">
        <div class="rte">
            @Html.Raw(Model.Content.RichText)
        </div>
    </div>
</section>