/*section.plan {

    h2, .pip {
        opacity: 0;
        transform: translate(0, 15px);
    }

    .item {
        position: relative;

        span {
            transform: scale(0);
        }

        h3, p {
            opacity: 0;
            transform: translate(0, 15px);
        }
    }
}

section.plan {
    &.animation {

        h2, .pip {
            transition: ease-in $speed opacity, ease-in $speed transform;
            opacity: 1;
            transform: translate(0,0);
        }

        .item {
            span {
                transition: ease-in $speed transform;
                transform: scale(1);
            }

            h3, p {
                transition: ease-in $speed opacity, ease-in $speed transform;
                opacity: 1;
                transform: translate(0,0);
            }

            &:nth-child(1) {
                span {
                    transition-delay: 0.2s;
                }

                h3, p {
                    transition-delay: 0.2s;
                }
            }

            &:nth-child(2) {
                span {
                    transition-delay: 0.4s;
                }

                h3, p {
                    transition-delay: 0.4s;
                }
            }

            &:nth-child(3) {
                span {
                    transition-delay: 0.6s;
                }

                h3, p {
                    transition-delay: 0.6s;
                }
            }
        }
    }
}

.no-js {
    .plan {
        h2, .pip {
            opacity: 1;
            transform: translate(0,0);
        }

        .item {
            span {
                transform: scale(1);
            }
        }
    }
}*/