section.cover {
    p {
        color: $mid-grey;
    }

    .button {
        margin-top: 1rem;
    }

    @include tablet {
        .content {
            width: 70%;
        }
    }

    @include desktop {
        .content {
            width: 50%;
        }
    }
}
