
.rte {
    * {
        color: $mid-grey;

        + * {
            margin-top: 1rem;
        }
    }

    h1, h2, h3 {
        color: $black !important;
    }

    a {
        text-decoration: underline;

        &:hover, &:focus {
            text-decoration: none;
        }
    }

    ul, ol {
        list-style: disc;
        padding-left: 1rem;

        li {

            + li {
                margin-top: 1rem;
            }
        }
    }

    table {
        border: 1px solid $mid-grey;
        border-radius: $border-radius;

        tr {
            border-bottom: 1px solid $mid-grey;
        }

        td {
            border-right: 1px solid $mid-grey;
            padding: 0.2rem 0.5rem;
        }
    }
}
